/* Resetting Website Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea, select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

img {
    max-width: 100%;
    display: block;
}



/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navbar-logo {
    width: 120px;
    margin-right: 220px;
}

nav a {
    margin-right: 30px;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2b2b2b;
}

nav a:hover {
    color:#96d36b;
}

nav button {
    background-color: #91C76A;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    color: rgb(250, 250, 250);
}

nav button:hover {
    background-color:#96d36b;
}

nav button:focus {
    background-color: #7ba95b;
}

footer {
    display: flex;
    margin-bottom: 50px;
}

#footer-attributions-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#attributions-line-1 {
    display: flex;
    justify-content:space-evenly;
}

#attributions-line-2 {
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    color: #7a7a7a;
}

footer h6 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#social-media-container {
    display: flex;
    width: 20%;
}

#social-media-container img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    transition: 0.1s;
}

#social-media-container img:hover {
filter: brightness(0) saturate(100%) invert(79%) sepia(28%) saturate(630%) hue-rotate(47deg) brightness(92%) contrast(89%);
cursor: pointer;
}
